body {
  color: #eee;
  overflow: hidden;
  background: #666;
}
/*color for backround*/
.mapboxgl-ctrl-attrib a,.mapboxgl-ctrl-attrib { color: #ddd; }
 .mapboxgl-ctrl-attrib {
   color: #ddd; }
 .mapboxgl-ctrl {
   background: rgba(12, 12, 12, 0.5) !important;
 }
.dropbtn {
  /*background-color: rgba(243,123,33, 0.88);*/
  background-color: rgba(0, 128, 225, 1);
  color: white;
  display: inline-block;
  height: 38px;
  line-height: 28px;
  /* padding: 16px; */
  font-size: 16px;
  border: 1px solid white;
  font-weight: 600;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 5px;
  cursor: pointer;
  width: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  color: black;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 101010;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 5px;
}

/*.dropdown-content:hover {background-color: #f1f1f1}*/


.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  /*float: left;*/
  /*padding: 1px 1px;*/
  width: auto;
  text-align: center;
}


.dropdown:hover .dropbtn {
  /*background-color: rgba(243,123,33, 0.5);*/
  background-color: rgba(0, 128, 225, .7);
}

.prg:hover > label {
  background: #f1f1f1;
}

.prg > label {

  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
}


input#radio1{visibility:hidden;}
input#radio2{visibility:hidden;}
input#radio3{visibility:hidden;}
input#radio4{visibility:hidden;}
input#radio5{visibility:hidden;}
input#radio6{visibility:hidden;}

/*.dropdown-content input[type="radio"] {position: absolute;}*/

.prg input[type="radio"]:checked + label {
/*float:left;*/
background: rgba(238,211,104,0.7);
position: relative;
padding-bottom: 5px;
padding-top: 5px;
/*width: 100%;
height: 100%;*/
}


#program_title{
  position: absolute;
  z-index: 2;
  /*background: rgba(243,123,33, 1);*/
  background-color: rgba(0, 128, 225, 1);
  /*rgba(12, 12, 12, 0.89);*/
  border-style: solid;
  border-color: #fff;
  /*rgba(0, 128, 225, 1);*/
  /*rgba(243,123,33, 1);*/
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  display: none;
  left: 50%;
  width: auto;
  top:1%;
  /*bottom: 1%;*/
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}


.mapbox-improve-map {
  display: none;
}

#interest {
position: absolute;
z-index: 2;
background: rgb(0, 0, 0);
color: #fff;
width: 25%;
height: 100%;
display: none;
/*margin-top: 50px;*/
padding-left: 10px;
padding-top: 5%;

}

#interest-close {
  right: 0px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 10px;
  /* float: right; */
  top: 0px;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  background-image: url('https://geomundus.github.io/back-button.svg');
  background-size: 38px 38px;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.7;
  font-size: 13px;
  display:inline-block;
}

#interest-close:hover {
opacity: 0.9;
}

#about {
position: absolute;
z-index: 20202020;
background: rgba(0, 0, 0, 0.93);
width: 100%;
height: 100%;
display: none;
}

#about-header {
font-weight: 600; font-size: 26px;
margin-bottom: 10px;
}

#about-content {
margin: 100px 200px;
font-size: 18px
}

#about-text{
color: rgba(250, 250, 250, 0.88);
}

#about-close {
border: 1px solid #eee;
position: relative;
right: 0px;
margin-top: 20px;
margin-right: 20px;
float: right;
top: 0px;
width: 38px;
height: 38px;
border-radius: 19px;
background: url('https://geomundus.github.io/close.svg') center center no-repeat;
cursor: pointer;
opacity: 0.6;
font-size: 13px;
}

#about-close:hover {
opacity: 0.9;
}

#about-map {
text-align: left;
margin: 25px 0;
}

#about-map-button {
display: inline-block;
font-weight: 600;
padding: 10px;
background:#3B4371;
cursor: pointer;
border-radius: 5px;

}

#about-map-button:hover {
  background: #F3904F;
}

#about-credits {
font-size: 13px;
color: rgba(250, 250, 250, 0.88);
}


#about-linked{
  background-image:url('https://geomundus.github.io/info.svg');
  background-size: 35px 35px;
  background-repeat: no-repeat;
  position: absolute;
  background-color: rgba(24, 24, 24, 0.0);
  z-index: 10;
  border-radius: 5px;
  bottom: 50px;
  left: 1.35%;
  /* top: 210px; */
  height: 35px;
  width: 35px;
  opacity: 0.7;
}

#about-linked:hover{
cursor: pointer;
opacity: 1;
}

/*#ema_title {
display: none;
border-radius: 10px;
position: absolute;
left: 55%;
bottom: 1%;
color: white;
width: 300px;
height: 72px;
opacity: .9;
text-align:center;
z-index:1;
}*/
#ema_title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #ddd;
  text-align: center;
  padding: 10px 80px;
  color: rgb(0, 78, 134)
}

/* cellpadding */
#ema_title th, td { padding: 0px;}

/* cellspacing*/
#ema_title table { border-collapse: separate; border-spacing: 0px; } /* cellspacing="0" */
#ema_title table { border-collapse: collapse; border-spacing: 0; }   /* cellspacing="0" */



#banner{
display: none;
position: fixed;
border-style: solid;
top: 30%;
left: calc(50% - 488.5px);
opacity: 0.9;
z-index:1001;}
img {
max-width: 100%;
max-height: 100%;
}

#menu {
/*display: none;*/
display: block;
position: absolute;
z-index: 2;
top: 60px;
left: 29%;
height: auto;
padding: 7px;
color: #ccc;
border-radius: 5px;
font-family: 'Open Sans', sans-serif;
transition: all 0s ease 1s; /*delay 1s*/
visibility: hidden;
background-color:rgba(24, 24, 24, 0.9);
}
#menu > label {
cursor: pointer;
}
#menu:hover {
visibility: visible;
}
#changeLayer:hover{
cursor: pointer;
opacity: 1;
}
#changeLayer:hover + #menu{
transition-delay: 0s;
visibility: visible;
}


#changeLayer{
background-image:url('https://geomundus.github.io/changeLayers.png');
background-size: 35px 35px;
background-repeat: no-repeat;
position: absolute;
/*background-color: rgba(220, 220, 220, 1);*/
z-index: 3;
border-radius: 5px;
top: 60px;
left: 26%;
height: 35px;
width: 35px;
opacity: 0.7;
}

#zoom-all:hover{
cursor: pointer;
opacity: 1;
}
#zoom-all{
background-image:url('https://geomundus.github.io/full-extent_circ.svg');
background-size: 35px 35px;
background-repeat: no-repeat;
position: absolute;
background-color: rgba(240, 240, 240, 1);
z-index: 2;
border-radius: 20px;
top: 110px;
left: 26%;
height: 35px;
width: 35px;
opacity: 0.7;
}
#home:hover{
cursor: pointer;
opacity: 1;
}
#home{
background-image:url('https://geomundus.github.io/exchange.png');
background-size: 35px 35px;
background-repeat: no-repeat;
position: absolute;
background-color: rgba(240, 240, 240, 1);
/*border: 2px solid rgb(0, 0, 0,.9);*/
z-index: 2;
border-radius: 20px;
top: 10px;
left: 26%;
height: 35px;
width: 35px;
opacity: 0.7;
}
#survey:hover{
  cursor: pointer;
  opacity: 1;
  }
#survey{
  background-image:url('https://geomundus.github.io/quality-survey4.png');
  background-size: 28px 28px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-color: rgba(240, 240, 240, 1);
  border: 2px solid rgb(0, 0, 0,.9);
  z-index: 2;
  border-radius: 20px;
  top: 160px;
  left: 26%;
  height: 35px;
  width: 35px;
  opacity: 0.7;
}
#cr:hover{
  cursor: pointer;
  opacity: 1;
  }
#cr{
  background-image:url('https://geomundus.github.io/course_rep2.png');
  background-size: 35px 35px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-color: rgba(240, 240, 240, 1);
  border-width: 2pt;
  z-index: 2;
  border-radius: 20px;
  top: 210px;
  left: 26%;
  height: 35px;
  width: 35px;
  opacity: 0.7;
}
#cityscape:hover{
  cursor: pointer;
  opacity: 1;
}
#cityscape{
  background-image:url('https://geomundus.github.io/cityscape.png');
  background-size: 26px 26px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-color: rgba(240, 240, 240, 1);
  border: 2px solid rgb(0, 0, 0,.9);
  z-index: 2;
  border-radius: 20px;
  /*top: 260px;
  left: 26%;*/
  height: 35px;
  width: 35px;
  opacity: 0.7;
}
#city-search{
  position: absolute;
  top: 260px;
  left: 26%;
  width: 300px;
  height: 400px,
}
#input-city{
  position: absolute;
  /*top: 262px;*/
  left: 50px;
  z-index: 3;
}
#filter-city{
  background-image: url('/src/searchicon.png');
  background-position: 5px 6px;
  background-repeat: no-repeat;
  width: 170px;
  padding: 6px 10px 6px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;    
  color: grey;
  font: bold 12px Arial,Helvetica,Sans-serif;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#map {
  position:absolute;
  left:25%;
  top:0;
  bottom:0;
  width: 75%;
}

.mapboxgl-popup {
position: absolute;
top: 0;
left: 0;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.btn-group {

margin-left: 20px;
display: inline-block;
border-radius: 2px;
background: '#ff4b1f';

}

.btn btn-primary{

display: inline-block;
height: 28px;
line-height: 28px;
color: #eee;
border-radius: 2px;
z-index: 3;
cursor: pointer;
font-weight: 600;
font-family: 'Open Sans', sans-serif;
padding: 5px 10px;
margin-left: 20px;
background: '#ff4b1f';

}

#modes {
  background-color: #ddd;
  /* margin-left: 15px; */
  display: flex;
  z-index: 1;
  justify-content: center;

}

.mode, .mode-selected, .mode-summer, .mode-fall, .mode-winter {
display: inline-block;
height: 38px;
line-height: 28px;
color: #fff;
width: 100px;
border: 1px solid white;
border-radius: 5px;
z-index: 1;
cursor: pointer;
font-weight: 600;
font-size: 16px;
margin-right: 5px;
margin-top: 5px;
margin-bottom: 5px;
font-family: 'Open Sans', sans-serif;
padding: 5px 5px;
text-align: center;
background: rgba(18, 18, 18, 0.7);
}

.mode-selected {
background: rgba(0, 128, 225, 1);
}

.mode-selected:hover{
background: rgba(0, 90, 225, .9);
}
.mode:hover{
background: rgba(70, 70, 70, 1);
}

/*.mode:hover, .mode:active,
.mode-selected:hover, .mode-selected:active {
  color: #fff;
}*/

.map-overlay {
  position: absolute;

  width: 25%;
  top: 0;
  bottom: 0;
  left: 0;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;

  /* background-color: rgba(12, 12, 12, 0.7); */
  background-color: #fff;
  max-height: 100%;
  overflow: hidden;

}

.map-overlay fieldset {
  display: none;
  z-index: 2;
  /* background: rgba(12, 12, 12, 0.7); */
  background: #ddd;
  border: none;
  padding: 10px;
  margin: 0;
  /* color: rgba(255, 255, 255, 0.9); */



}

.map-overlay input {

  display: block;
  z-index: 2;
  border-bottom: 2px solid;
  font: bold 12px Arial,Helvetica,Sans-serif;
  width: 100%;
  border-radius: 20px;
  /* background: rgba(12, 12, 12, 0.7); */
  /* padding: 5px 10px 5px 25px; */
  margin-top: 5px;
  padding: 10px;  
}

.map-overlay .listing {
  overflow: auto;
  max-height: calc(100% - 175px);

}

.map-overlay .listing > * {
  display: block;
  padding: 5px 10px;
  margin: 0;

}

.map-overlay .listing a {
  /* border-bottom: 1px solid rgba(0, 128, 225, 0.3); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* color: rgba(255, 255, 255, 0.9); */
  /* background: rgba(12, 12, 12, 0.7); */
  color:#404;
  text-decoration: none;
}

.map-overlay .listing a:last-child {
  border: none;
}

.map-overlay .listing a:hover {
  /* background: rgba(0, 128, 225, 0.3); */
  background: #f0f0f0;
  cursor: pointer;
}

.mapboxgl-popup {

max-width: 300px;
max-height: 300px;
font: 12px/20px 'Open Sans', sans-serif;
border-radius: 5px;
overflow: auto;

}

.mapboxgl-popup-content {
  overflow: auto;
  color: #fff;
  background: rgba(12, 12, 12, 0.88);
  border-radius: 5px;

}

.city-hover:hover{
  font-weight: bold;
}

.link
{
 color:aqua;
 text-decoration: none;
 background-color: none;
}
.link:hover span#acr {display:none;}
.link:hover span#stat  {display:none;}
/*.link:hover span#ong {display:none;}*/

.link:hover span#crs {display:inline;color: white;}
#crs {
display:none;
}
.link#crs:hover {display:inline;}

#header {
position: absolute;
z-index: 1012022;
top: 0px;
width: 100%;
line-height: 50px;
height: 50px;
background: rgba(12, 12, 12, 0.8);
color: #eee;
display: none;
}

#about {
   display: none;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.88);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#about-header {
  font-weight: 600; font-size: 24px;
}

#about-content {
  padding: 20px;
  margin: 0;
  font-size: 13px;
}

#about-close {
  border: 1px solid #eee;
  position: relative;
  right: 0%;
  top: 1%;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  background: url('https://geomundus.github.io/close.svg') center center no-repeat;
  cursor: pointer;
  opacity: 0.6;
  font-size: 13px;
}

@media screen and (max-width: 480px) {
  
  #changeLayer{
    display: none;
  }
  
  #survey{
    visibility: hidden;
  }
  #cr{
    visibility: hidden;
  }
  #city-search{
    display: none;
  }

  #interest {
    position: fixed;
    bottom:0;
    z-index: 99;
    font-size: calc(7px + .5vw);
    width: 100%;
    height: 50vh;
    display: none;
    overflow: auto;
  }

  .desktop {
      display: none;
  }
  .mobile {
    display: inline;
  }

  #header {
    position: absolute;
    z-index: 1012022;
    top: 0px;
    line-height: 50px;
    display: inline;
  }

  #about-linked{
  background-size: 26px 26px;
    z-index: 10;
    border-radius: 5px;
    top: 70px;
    left: 2%;
    height: 26px;
    width: 26px;
  }

  .mode, .mode-selected {
    width: auto;
    display: inline-block;
    height: 26px;
    line-height: 18px;
    border-radius: 3px;
    z-index: 3;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom:2px;
    margin-right: 5px;
    padding: 2px 5px;
  }

  .dropbtn, .ongoing {
    display: inline-block;
    height: 26px;
    line-height: 18px;
    /* padding: 16px; */
    font-size: 16px;
    font-weight: 400;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    padding: 2px 5px;
  }
  #map {
    position: relative!important;
    width: 100%;
    height: 50vh;
    overflow: hidden!important;
    left: 0;
  }



  #zoom-all{
    background-size: 26px 26px;
    top: 40px;
    left: 2%;
    width: 26px;
    height: 26px;
  }
  #home{
    background-size: 26px 26px;
    top: 10px;
    left: 2%;
    width: 26px;
    height: 26px;
  }

  #banner{
    visibility: hidden;
  }

  #ema_title {
   visibility: hidden;
 }
 #menu{
   top: 10px;
   left: 50px;
 }

  .map-overlay {
    position: relative;
      width: 100%;
      top: 0;
      height: 50vh;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      overflow: hidden;

}

  .map-overlay fieldset {
      border: none;
      padding: 3px;
      margin: 0;
  }
  #feature-filter{
    font-size: 12px;
  }

  .map-overlay input {
    margin-top: 1px;
    padding: 5px;  
  }
  .map-overlay .listing {
      overflow: auto;
      overflow-x: hidden;
      max-height: 100%;
  }

  .map-overlay .listing > * {
      display: block;
      padding: 5px 10px;
      margin: 0;

  }

  .map-overlay .listing a {
      text-decoration: none;
  }

  .map-overlay .listing a:last-child {
      border: none;
  }


  .mapboxgl-ctrl-attrib { display: none}
  button.mapboxgl-ctrl-icon { display: none}

   .dropdown-content {
    padding: 3px 4px;
    text-decoration: none;
    border-radius: 4px;
  } 
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    /*float: left;*/
    /*padding: 1px 1px;*/
    width: auto;
    text-align: center;
  }

  #about-close:hover {
    opacity: 0.9;
  }

  #about-map {
   text-align: left;
   margin: 25px 0;
  }

  #about-map-button {
    display: inline-block;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;

  }

  .mapboxgl-popup {

  max-width: 150px;
  max-height: 250px;
  font: 12px/20px 'Open Sans', sans-serif;
  border-radius: 5px;

  }
}
@media screen and (max-width: 1000px) {
  /*#survey{
    background-size: 26px 26px;
    border-radius: 5px;
    top: 130px;
    left: 2%;
    height: 26px;
    width: 26px; 
  }*/
  #survey{display: none;}
  /*#cr{
    background-size: 26px 26px;
    border-radius: 15px;
    top: 160px;
    left: 2%;
    height: 26px;
    width: 26px; 
  }*/
  #cr{display: none;}
  #interest {
    position: fixed;
    bottom:0;
    z-index: 99;
    font-size: calc(7px + .5vw);
    /*background: rgba(0, 0, 0, 0.98);*/
    width: 100%;
    height: 50vh;
    display: none;
    overflow: auto;
  }
  #menu{
    top: 130px;
    left: 50px;
  }

  .desktop {
      display: none;
  }
  .mobile {
    display: inline;
  }


  #about-linked{
    background-image:url('https://geomundus.github.io/info.svg');
    background-size: 26px 26px;
    background-repeat: no-repeat;
    position: absolute;
    /*background-color: rgba(24, 24, 24, 0.0);*/
    z-index: 10;
    border-radius: 5px;
    top: 100px;
    left: 2%;
    height: 26px;
    width: 26px;
    opacity: 0.7;
  }

  #map {
    position: relative!important;
    width: 100%;
    height: 50vh;
    overflow: hidden!important;
    left: 0;
  }

  #changeLayer {
    background-size: 26px 26px;
    top: 130px;
    left: 2%;
    width: 26px;
    height: 26px;
  }
  #home{
    background-size: 26px 26px;
    top: 40px;
    left: 2%;
    width: 26px;
    height: 26px;
  }
  #zoom-all{
    background-size: 26px 26px;
    top: 70px;
    left: 2%;
    width: 26px;
    height: 26px;
  }
  #city-search{
    top: 10px;
    left: 2%;
    height: 10px;
    height: 100px;
  }
  #cityscape{
    background-size: 15px 15px;
    height: 26px;
    width: 26px;
 }
  #banner{
    width: 500px;
    left: 200px;
    top: 100px;
  }
  

  #ema_title {
   visibility: hidden;
 }

  .map-overlay {
    position: relative;
      width: 100%;
      top: 0;
      height: 50vh;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      overflow: hidden;

}

  .map-overlay fieldset {
      border: none;
      padding: 3px;
      margin: 0;
  }
  #feature-filter{
    font-size: 12px;
  }

  .map-overlay .listing {
      overflow: auto;
      overflow-x: hidden;
      max-height: 64%;

  }

  .map-overlay .listing > * {
      display: block;
      padding: 5px 10px;
      margin: 0;

  }

  .map-overlay .listing a {
      /*border-bottom: 1px solid rgba(2, 70, 0, 0.5);
      color: rgba(255, 255, 255, 0.9);
      background: rgba(12, 12, 12, 0.7);*/
      text-decoration: none;
  }

  .map-overlay .listing a:last-child {
      border: none;
  }

  .mapboxgl-ctrl-attrib { display: none}

   .dropdown-content {
    padding: 3px 4px;
    text-decoration: none;
    border-radius: 4px;
  } 
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    /*float: left;*/
    /*padding: 1px 1px;*/
    width: auto;
    text-align: center;
  }

  #about-close:hover {
    opacity: 0.9;
  }

  #about-map {
   text-align: left;
   margin: 25px 0;
  }

  #about-map-button {
    display: inline-block;
    font-weight: 600;
    padding: 10px;
    background: #06c;
    cursor: pointer;
    border-radius: 5px;

  }

  #about-credits {
    font-size: 13px;
  }
  .mapboxgl-popup {

  max-width: 150px;
  max-height: 250px;
  font: 12px/20px 'Open Sans', sans-serif;
  border-radius: 5px;

  }

  }
  